@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --mainRedishColor: #a42f2f;
    --mainGrayColor: #463e3e;
    --SecondaryGrayColor: #2e2828;
}
a{
    color: var(--mainGrayColor);
    text-decoration: none;
}
button{
    background-color: var(--mainRedishColor);
    border: none;
    color: #D9CCCC;
    cursor: pointer;
    font-size: 1.3em;
    font-weight: 600;
    outline: none;
    padding: .5em .7em;
}
button:hover{
    background-color: #b45959;
}
h1{
    color: var(--mainRedishColor);
    /*font-size: 2.9em;*/
    font-weight: 700;
}
h3{
    color: var(--SecondaryGrayColor);
    font-weight: normal;
    line-height: 1.5em;
    padding: 1.2em 0;
}
input{
    border: none;
    border-radius: .3em;
    outline: none;
    padding: .6em 1em .6em .6em;
}
::placeholder{
    color: #b6b6b6;
}
.pageBody{
    background-color: #d9cccc;
    background: #ee9ca7;
    background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);
    /*background: linear-gradient(to right, #ffdde1, #ee9ca7); /*darkest*/
    /*background: linear-gradient(to right, #ffdde1, #e9a2ab); /*lightest*/
    /*background: linear-gradient(to right, #ffdde1, #e9acb4); /*in between*/
    color: var(--mainGrayColor);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    height: 100%;
}
.headerSection{
    display: flex;
    flex-direction: column;
}
.navWrapper{
    flex: auto;
}
.nav{
    display: flex;
    padding: 1.7em 4em;
}
.nav li{
    list-style: none;
}
.logoWrapper{
    flex: 1;
}
.logoWrapper img{
    display: block;
    height: 3em;
}
.navItemsWrapper{
    align-items: center;
    display: flex;
}
.navUl{
    display: flex;
    align-items: center;
}
.navUl a{
    font-size: .95em;
    padding: 0 1em;
}
.navUl a:hover{
    color: var(--mainRedishColor);
}
.searchInputIconWrapper{
    margin-left: 1em;
    position: relative;
}
.searchInputIconWrapper img{
    filter: invert(.5);
    position: absolute;
    right: .4em;
    top: .3em;
    user-select: none;
}
.mainContent{
    flex: 2;
    max-height: 867px;
    padding-top: 12em;
    overflow: hidden;
}
.contentWrapper{
    display: flex;
}
.leftSideContent{
    flex: 1;
}
.imageWrapper img{
    border-radius: 100%;
    margin: 0 0 -7em -7em;
    width: 100%;
}
.rightSideContent{
    flex: 1;
    padding-top: 7.2em;
    position: relative;
}
.rightSideContent h1{
    font-size: 3.3em;
}
.rightSideContent h3{
    width: 28em;
}
.rightSideContent button{
    margin: .7em 1.5em 0 0;
}
.modalWrapper{
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.modal{
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    opacity: 0;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition: all .35s ease-in;
    visibility: hidden;
}
.modalVisible{
    opacity: 1;
    visibility: visible;
}
.modalDialog{
    background-color: #f3f3f3;
    border-radius: .5em;
    cursor: default;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: relative;
    max-height: 80vh;
    max-width: 40%;
    min-height: 30vh;
}
.modalHeader{
    display: flex;
    background-color: #ebebeb;
    padding: .5em 1.5em;
}
.modalHeader h1{
    flex: 1;
}
.modalHeader button{
    background: none;
}
.modalMainContent form{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.loginFormContent{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.loginFormContent label{
    font-size: .84em;
    padding: 0;
}
.loginFormContent input{
    margin: .5em 0 1.5em;
    padding: .6em .5em;
}
.loginFormContent input:last-child{
    margin-bottom: 0;
}
.inputLabelWrapper{
    display: flex;
    flex-direction: column;
    padding: 1.5em;
}
.loginFormbuttons{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    width: 100%;
}
.loginFormbuttons button{
    margin: 0 .2em;
}
.loginForm > *{
    padding: 1rem;
}
/*recipe view page*/
.recipeDisplayBody{
    background: linear-gradient(rgba(219, 208, 208, 0.897), rgba(219, 208, 208, 0.897)), url(resources/images/foodBackground2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}
.welcomeText{
    padding: 1em 0;
    text-align: center;
}
.recipeDisplayWrapper{
    /*border: 1px solid salmon;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 3em auto 0;
    max-width: 75vw;
}
.oneRecipeDisplayWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 33%;
}
.recipeDisplay{
    align-items: center;
    background-color: rgba(211, 166, 166, 0.753);
    border-top-right-radius: 1.8em;
    border-bottom-right-radius: 1.8em;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
    cursor: pointer;
    display: flex;
    height: 100px;
    margin-bottom: 8em;
    position: relative;
    width: 80%;    
}
.plate{
    background-color: rgb(173, 159, 152);
    background: url(resources/images/meatplateCropped.jpg) top no-repeat;
    background-size: cover;
    border-radius: 10em;
    cursor: default;
    height: 150px;
    width: 40%;
    /*flex: 1;*/
}
.plate1{
    background: url(resources/images/meatplateCropped.jpg) center no-repeat;
    background-size: cover;
}
.plate2{
    background: url(resources/images/dairyFoodPlateCropped.jpg) center no-repeat;
    background-size: cover;
}
.plate3{
    background: url(resources/images/PareveFoodCropped.jpg) center no-repeat;
    background-size: cover;
}
.plate4{
    background: url(resources/images/displayRecipeImage1Crpped.jpg) center no-repeat;
    background-size: cover;
}
.plate5{
    background: url(resources/images/whitePlateWFoodCopy.png) center no-repeat;
    background-size: cover;
}
.recipeDisplay .text{
    font-size: .9em;
    padding-left: 1em;
}
.text{
    flex: 1;
}
.saveToCollectionImg{
    filter: invert(50%);
    position: relative;
    top: -2.2em;
}
/*View Recipe Page*/
.viewRecipePageWrapper{
    align-items: center;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    overflow-x: hidden;
}
.recipeBook{
    background-color: #fff;
    color: #696969;
    height: 750px;
    position: relative;
    left: 0;
    margin: 5em 0;
    transition: left ease 1s;
    transform: perspective(2000px);
    transform-style: preserve-3d;
    width: 550px;
}
.cover{
    background-color: #fff;
    height: 100%;
    position: relative;
    transition: 1s;
    transform-style: preserve-3d;
    transform-origin: left;
    width: 100%;
    z-index: 1;
   /* transform: rotateY(0deg);*/
    
}
/*
.cover:hover{
    transform: rotateY(-180deg)
}*/
.cover .front,
.cover .back{
    height: 100%;
    position: absolute;
    width: 100%;
}
.front{
    background: #1c87c9;
    background: linear-gradient(rgba(206, 206, 206, 0.822), rgba(255, 255, 255, 0.705), rgba(255, 255, 255, 0.541)), url(/resources/images/RoastedPotatoes.jpg);
    color: #666;
    font-size: 1.5em;
    padding-top: 3em;
    text-align: center;
}
.back{
    background: #fff;
    box-shadow: inset 5px 0px 50px rgba(100, 100, 100, 0.397);
    padding: 1.5em;
    transform: rotateY(180deg);
}
.backText{
    padding: .3em;
}
.backText hr{
    background-color: #d6cccc;
    border: none;
    display: block;
    height: .1em;
    margin: 0 auto;
    width: 61%;    
}
.backText h2{
    padding-bottom: .2em;
    text-align: center;
}
.backText h3{
    font-weight: bold;
    padding: .5em 0;
    text-align: center;
}
.recipeIngredeients{
    padding: 1.5em 0;
}
.recipeTips ul{
    list-style-type: circle;
}
.recipeBook .page{
    box-shadow: inset 5px 0px 50px rgba(0, 0, 0, 0.349);
    height: 100%;
    padding: 1.5em;
    position: absolute;
    top: 0;
}
.closeRecipe{
    cursor: pointer;
    position: relative;
    height: 10px;
   /* top: 7em;
    left: 47em;*/
    z-index: 5;
}
.closeRecipeBttnVsbl{
    visibility: visible;
}
.closeRecipe img{
    height: 1.5em;
}
.details{
    height: 99%;
    overflow-y: scroll;
}
.details ol li{
    padding: 1em;
    letter-spacing: .01em;
}
.recipeBook ul li{
    padding: .3em;
}
.recipeBook li{
    font-size: .9em;
    list-style-position: inside;
}
.details::-webkit-scrollbar{
    width: .8em;
}
.details::-webkit-scrollbar-track{
    box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 12px rgba(0,0,0,0.3);
}
.details::-webkit-scrollbar-thumb{
    background-color: #b85151;
}
.details::-webkit-scrollbar-thumb:hover{
    background-color: #9c4444;
}

.openRecipeBook{
    transform: rotateY(-180deg);
    
}
.bookOpened{
    left: 50%;
}
.closeRecipeBook{
    transform: rotateY(0deg);
}
.bookClosed{
    left: 0%;
}
.wrapperForThatDiv{
    height: 150px;
    width: 300px;
    background-color: tan;
    transition: all 0.3s ease-in-out;
    transform-origin: right;
    transform: perspective(2000px);
    
}
.buttonForClosing{
    border: solid 1px green;
    cursor: pointer;
}
.rotated {
    transform:rotateY(180deg); 
}