<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('favicon.html')%>
    <link rel="stylesheet" href="../headerFooter.css">
    <link rel="stylesheet" href="../modalStyles.css">
    <link rel="stylesheet" href="../generalStyles.css">
    <link rel="stylesheet" href="../recipesDisplay.css">
    <link rel="stylesheet" href="../viewOneRec.css"> 
    <link rel="stylesheet" href="../addEditRec.css">
    <link rel="stylesheet" href="../mediaQueries.css">
    <title>Recipize - Edit recipe</title>
</head>
<body>
    <div class="pageBody">
        <%- include('header.html')%>
            <div class="mainContent recMainContent">
                <div class="content">
                    <div class="main">
                        <span class="msg"></span>
                        <form action="/editRecipe/<%=recipe._id%>?_method=PUT" method="POST" class="recipeForm" id="recipeForm">
                            <ul class="progressbar">
                                <li class="active">Step 1</li>
                                <li>Step 2</li>
                                <li>Step 3</li>
                                <li>Step 4</li>
                            </ul>
            
                            <fieldset class="visibleFieldset">
                                <div>
                                    <h2 class="title">Edit &ldquo;<%= recipe.title %>&rdquo; </h2>
                                    <p class="subTitle">step 1 - Edit details</p>
                                </div>
                                
                                <div class="inputGroup">
                                    <div>
                                        <input type="text" name="title" value="<%= recipe.title %>" placeholder=" ">
                                        <label>Recipe Title</label>
                                    </div>
            
                                    <div class="moreOptionsColumn">
                                        <div>
                                            <input type="number" min="0" name="prpTimeHrs" value="<%= recipe.prpTimeHrs %>" placeholder=" ">
                                            <label>Prep Time Hours</label>
                                        </div>
                                        <div>
                                            <input type="number" min="0" name="prpTimeMin" value="<%= recipe.prpTimeMin %>" placeholder=" ">
                                            <label>Prep Time Minutes</label>
                                        </div>
                                    </div>
                                    
                                    <div class="moreOptionsColumn">
                                        <div>
                                            <input type="number" min="0" name="ckTimeHrs" value="<%= recipe.ckTimeHrs %>" placeholder=" ">
                                            <label>Cook Time Hours</label>
                                        </div>
                                        <div>
                                            <input type="number" min="0" name="ckTimeMin" value="<%= recipe.ckTimeMin %>" placeholder=" ">
                                            <label>Cook Time Minutes</label>
                                        </div>
                                    </div>
            
                                    <div class="moreOptionsColumn">
                                        <div>
                                            <input type="number" min="0" name="ttlTimeHrs" value="<%= recipe.ttlTimeHrs %>" placeholder=" ">
                                            <label>Total Time Hours</label>
                                        </div>
                                        <div>
                                            <input type="number" min="0" name="ttlTimeMin" value="<%= recipe.ttlTimeMin %>" placeholder=" " title="">
                                            <label>Total Time Minutes</label>
                                        </div>
                                    </div>

                                    <div class="moreOptions categorySelectParent">
                                        <select name="category" id="Category" class="category addRecSelect">
                                            <option value="<%= recipe.category %>" selected><%= recipe.category %></option>
                                            <optgroup label="Main">
                                                <option value="Main - Dairy">Main - Dairy</option>
                                                <option value="Main - Meat">Main - Meat</option>
                                                <option value="Main - Pareve">Main - Pareve</option>
                                            </optgroup>
                                            <optgroup label="Soup">
                                                <option value="Soup - Dairy">Soup - Dairy</option>
                                                <option value="Soup - Meat">Soup - Meat</option>
                                                <option value="Soup - Pareve">Soup - Pareve</option>
                                            </optgroup>
                                            <optgroup label="Salad">
                                                <option value="Salad - Dairy">Salad - Dairy</option>
                                                <option value="Salad - Meat">Salad - Meat</option>
                                                <option value="Salad - Pareve">Salad - Pareve</option>
                                            </optgroup>
                                            <optgroup label="Side">
                                                <option value="Side - Dairy">Side - Dairy</option>
                                                <option value="Side - Meat">Side - Meat</option>
                                                <option value="Side - Pareve">Side - Pareve</option>
                                            </optgroup>
                                            <optgroup label="Dessert">
                                                <option value="Dessert - Dairy">Dessert - Dairy</option>
                                                <option value="Dessert - Meat">Dessert - Meat</option>
                                                <option value="Dessert - Pareve">Dessert - Pareve</option>
                                            </optgroup>
                                            <optgroup label="Other">
                                                <option value="Other">Other</option>
                                            </optgroup>
                                        </select>
                                        <input type="hidden" class="otherOptionTextCtgry" title="" name="">
                                    </div>
                                </div>
            
                                <div class="btnWrpr">
                                    <button type="button" class="next_btn frstNxtBtn btnToIng">Next</button>
                                </div>  
                            </fieldset>
            
                            <fieldset class="ingDirFieldsWrrpr">
                                <div>
                                    <h2 class="title">Edit &ldquo;<%= recipe.title %>&rdquo;</h2>
                                    <p class="subTitle">Step 2 - Edit other details</p>
                                </div>

                                <div class="inputGroup">
                                    <div class="moreOptions">
                                        <input type="number" min="0" name="yieldInput" value="<%= recipe.yieldInput %>" placeholder=" ">
                                        <select name="yieldSelect" class="editSelectValue yieldSelect addRecSelect">
                                            <option value="<%= recipe.yieldSelect %>"><%= recipe.yieldSelect %></option>
                                            <option class="selectServings" value="Servings">Servings</option>
                                            <option class="selectOther" value="Other">Other</option>
                                        </select>
                                        <label>Yields</label>
                                        <input type="hidden" class="otherOptionTextSrvngs" name="">
                                    </div>
            
                                    <div class="moreOptionsColumn">
                                        <div class="imgWapper">
                                            <input type="file" placeholder=" " title="Upload image from device">
                                            <label class="uploadRecPhotoLbl"><img src="../resources/images/upload.png" alt=""><span>Upload from device</span></label>
                                        </div>
                                            <span class="or">Or</span>
                                        <div class="imgUrlWrppr">
                                            <input type="text" name="img" placeholder=" " value="<%= recipe.img %>" title="Enter image url">
                                            <label>Enter Image Url</label> 
                                        </div>
                                    </div>

                                    <div class="plusIconParent">
                                        <input type="text" id="tipsInput" class="tipsInput editTipsInput" placeholder=" ">
                                        <div class="editTipsInputGroup tipsInputGroup">
                                            <% recipe.tips.forEach(function(item){ %>
                                                <div class="editParent editListItem">
                                                    <div class="orginalEditItem">
                                                        <span id="circle" class="circle">○</span>
                                                        <textarea name="tips" rows="1"><%= item.trim() %></textarea>
                                                        <span class="removeEditItem">x</span>
                                                    </div>
                                                </div>
                                            <% }); %>
                                            <% if(recipe.tips = ''){ }%>
                                            <div class="listWrappr editListWrapper">
                                                <ul class="tipUl"></ul>
                                            </div>
                                        </div>
                                        <label>Recipe Tips</label>
                                        <strong class="plusIcon addTiptoListBttn" title="Click to add item to the list">&#43;</strong>
                                    </div>
                                </div>
                                
                                <div class="btnWrpr">
                                    <button type="button" class="pre_btn">Previous</button>
                                    <button type="button" class="next_btn btnToIng" title="Continue to ingredients and directions">Next</button>
                                </div>
                            </fieldset>
            
                            <fieldset class="ingDirFieldsWrrpr">
                                <div>
                                    <h2 class="title">Edit &ldquo;<%= recipe.title %>&rdquo;</h2>
                                    <p class="subTitle">step 3 - Edit ingredients</p>
                                </div>
                                <div class="inputGroup">
                                    <div class="plusIconParent">
                                        <input type="text" class="ingrdntsInput" placeholder=" ">
                                        <div class="editTipsInputGroup ingInputGroup">
                                            <% recipe.ingrdnts.forEach(function(item){ %>
                                                <div class="editParent editListItem">
                                                    <div class="orginalEditItem">
                                                        <span class="circle">○</span>
                                                        <textarea name="ingrdnts" rows="1"><%= item.trim() %></textarea>
                                                        <span class="removeEditItem">x</span>
                                                    </div>
                                                </div>
                                            <% }); %>
                                            <div class="listWrappr editListWrapper">
                                                <ul class="igUl"></ul>
                                            </div>
                                        </div>
                                        <label>Recipe Ingredients</label>
                                        <strong class="plusIcon adIngrdntToListBttn" title="Click to add item to the list">&#43;</strong>
                                    </div>
                                </div>

                                <div class="btnWrpr">
                                    <button type="button" class="pre_btn">Previous</button>
                                    <button type="button" class="next_btn btnToDir">Next</button>
                                </div>
                            </fieldset>

                            <fieldset class="ingDirFieldsWrrpr">
                                <div>
                                    <h2 class="title">Edit &ldquo;<%= recipe.title %>&rdquo;</h2>
                                    <p class="subTitle">step 4 - Edit Directions and update!</p>
                                </div>
                                <div class="inputGroup">
                                    <div class="plusIconParent">
                                        <input type="text" class="dirctnsInput" placeholder=" ">
                                        <div class="editTipsInputGroup ingInputGroup2">
                                            <% recipe.dirctns.forEach(function(item){ %>
                                                <div class="editParent editListItem">
                                                    <div class="orginalEditItem">
                                                        <span class="circle">○</span>
                                                        <textarea class="editInputs" name="dirctns" rows="1"><%= item.trim()%></textarea>
                                                        <span class="removeEditItem">x</span>
                                                    </div>
                                                </div>
                                            <% }); %>
                                            <div class="listWrappr editListWrapper">
                                                <ol class="dirOl"></ol>
                                            </div>
                                        </div>
                                        <label>Recipe Directions</label>
                                        <strong class="plusIcon adDirToDirListBttn" title="Click to add item to the list">&#43;</strong>
                                    </div>
                                </div>

                                <div class="btnWrpr">
                                    <button type="button" class="pre_btn preToIng">Previous</button>
                                    <button type="submit" class="submit_btn">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        <%- include('footer.html')%>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="../formsFunctionality.js"></script>
<script src="../script.js"></script>