<footer> 
    <div class="socialLinkSection">
        <a href="https://instagram.com/bp2225" target="_blank"><img src="../resources/images/instagramWhite.png" alt=""></a>
        <a href="https://twitter.com/beckypdev" target="_blank"><img class="twtr" src="../resources/images/twitterWhite.png" alt=""></a>
        <a href="javascript:;" target="_blank" class="footerWhApp"><img src="../resources/images/whatsappWhite.png" alt=""></a>
        <a href="https://facebook.com/brachapachtman" target="_blank"><img class="fcbook" src="../resources/images/facebookWhite2.png" alt=""></a>
    </div>
    <div>
        <p>Copyright &copy; <span id="year">0</span> All Rights Reserved to Recipize.<br> Built, Developed, and Designed by Bracha Pachtman.</p>
    </div>
</footer>

<script>
    document.getElementById("year").innerHTML = (new Date).getFullYear();
</script>