<head>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../favicon_io/site.webmanifest">
</head>
<div class="nav">
    <div class="logoWrapper">
        <img src="../resources/images/logoNew2Clear.png" alt="recipeze logo">
        <img src="../resources/images/logoStickyClear.png" alt="recipeze logo">
    </div> 
    <div class="navItemsWrapper"> 
        <nav>
            <div class="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <ul class="navUl">
                <div class="lis">
                    <li><a href="/">Home</a></li>
                    <li class="loginLi"><a href="/login">Login/Sign up</a></li>
                    <li><a href="/recipiesDisplay">View All Recipes</a></li>
                    <li><a href="/AddNewRecipe">Add New Recipe</a></li>
                </div>
            </ul>
            <div id="userLoggedIn" class="userLoggedIn">
                <div class="user">
                    <%- profile %>   
                <p class="userName" id="userName"><%- userName %></p>
                </div>
                
                <div class="userOptions">
                    <a href="/logout">log out</a>
                </div>
            </div>
        </nav>
    </div>
</div>
