<!DOCTYPE html>
<html lang="en">
<body>
    <div class="navWrapper">
        <div class="nav">
            <div class="logoWrapper">
                <img src="../resources/images/logoCopy.png" alt="recipeze logo"><span> <%- userName %></span>
            </div> 
            <div class="navItemsWrapper">
                <nav>
                    <ul class="navUl">
                        <li><a href="/">Home</a></li>
                        <li><a href="/">Login/Sign up</a></li>
                        <li><a href="/AddNewRecipe">Add New Recipe</a></li>
                        <li><a href="/recipiesDisplay">View All Recipies</a></li>
                        <div class="searchInputIconWrapper">
                            <span class="navSearchInputWrapper">
                                <input type="search" name="searchRecipes" placeholder="Search Recipe" class="navSearchInput">
                            </span> 
                        </div>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>