<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bracha Pachtman">
    <meta name="description" content="Recipe Manager Platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Node.js, Food, Recipes, Organization">
    <link rel="stylesheet" href="styles.css">
    <title>Recipize</title>
</head>
<body>
     <div id="indexPage" class="pageBody">
         <div class="headerSection">
            <%- include('header.html')%>
             <div class="mainContent">
                 <div class="contentWrapper">
                    <div class="leftSideContent">
                        <div class="imageWrapper">
                            <img src="../resources/images/whitePlateWFood (2).png" alt="Main Content Plate">
                        </div>
                    </div>
                    <div class="rightSideContent">
                        <div class="visibleContent">
                            <h1>Welcome to Recipeze</h1>
                            <h3>Enter, edit, share, update recipes easily, quicly, and effortlesslesy.</h3>
                            <button type="button" class="loginPropmtButton" data-open='modal'><a href="openModal">Login/Sign Up</a></button>
                            <button type="button">Add Recipe</button>
                        </div>
                        
                       
                    </div>
                    


                    </div>
                </div>
         </div>
     </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="script.js"></script>
