<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bracha Pachtman">
    <meta name="description" content="Recipe Manager Platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Node.js, Food, Recipes, Organization">
    <link rel="stylesheet" href="styles.css">
    <title>Add New Recipe</title>
</head>
<body>

    <div class="pageBody addRecBodyPage">
        <%- include('header.html') %>
        <div class="mainContent addRecMainContent">
            <div class="MainText">
                
                <h1>Add Your New Recipe here</h1>
                <h3>Click add to submit an add new to add this on and a new one</h3>
                <div class="AddRecFormWrapper">
                    <form action="/newRecipeData" method="POST">

                        <div class="addRecinputWrapper inputWrapper">

                            <div class="addreceachInput eachInput recTitleWrapper">
                                <input type="text" name="title" placeholder=" ">
                                <label for="RecTitle">Recipe Title</label>
                            </div>

                        </div>

                        <div class="addRecinputWrapper inputWrapper recTimingWrapper">

                            <div class="addreceachInput eachInput">
                                <input type="text" name="prpTime" placeholder=" ">
                                <label for="RecTitle">Prep Time</label>
                            </div>
                            
                            <div class="addreceachInput eachInput">
                                <input type="text" name="ckTime" placeholder=" ">
                                <label for="RecTitle">Cook Time</label>
                            </div>
                            <div class="addreceachInput eachInput">
                                    <input type="text" name="ttlTime" placeholder=" ">
                                <label for="RecTitle">Total Time</label>
                            </div>
                            
                        </div>

                        <div class="addRecinputWrapper inputWrapper recYielImageWrapper">

                            <div class="addreceachInput eachInput">
                                <input type="number" name="yields" placeholder=" ">
                                <label for="RecTitle">Yields</label>
                            </div>

                            <div class="addreceachInput eachInput">
                                <input type="file" name="image">
                            </div>
                                
                        </div>

                        <div class="addRecinputWrapper inputWrapper">

                            <div class="addreceachInput eachInput">
                                <input type="text" name="ingrdnts" placeholder=" ">
                                <label for="RecTitle">Ingredients</label>
                            </div>
                                
                        </div>

                        <div class="addRecinputWrapper inputWrapper">

                            <div class="addreceachInput eachInput">
                                <input type="text" name="dirctns" placeholder=" ">
                                <label for="RecTitle">Directions</label>
                            </div>
                                
                        </div>

                        <div class="addRecinputWrapper inputWrapper">

                            <div class="addreceachInput eachInput">
                                <button type="submit" class="loginPropmtButton">Add Recipe</button>
                                <button type="submit">Submit &amp; Add New</button>
                            </div>
                                
                        </div>

                        
                    </form>

                </div>
            </div>
        </div>    
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js""></script>
<script src="../script.js"></script>