<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
<input id="searchRecipes"  type="text" placeholder="Search">
            <ul id="Menu" class="Menu">
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
              <li><a href="#">JavaScript</a></li>
              <li><a href="#">PHP</a></li>
              <li><a href="#">Python</a></li>
              <li><a href="#">jQuery</a></li>
              <li><a href="#">SQL</a></li>
              <li><a href="#">Bootstrap</a></li>
              <li><a href="#">Node.js</a></li>
              <li><a href="#">Bracha</a></li>
              <li><a href="#">Pachtman</a></li>
            </ul>

            
    <div id="recipeDisplay">
        <div class="text">
            <h3 class="recipeTitle"><a href="/recipe/<%= rec._id %>">Bracha</a></h3>
        </div>
    
        <div class="text">
            <h3 class="recipeTitle"><a href="/recipe/<%= rec._id %>">Pachtman</a></h3>
        </div>
    
        <div class="text">
            <h3 class="recipeTitle"><a href="/recipe/<%= rec._id %>">Home</a></h3>
        </div>
    
        <div class="text">
            <h3 class="recipeTitle"><a href="/recipe/<%= rec._id %>">Love</a></h3>
        </div>
    </div>

        
            
        
</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $('#searchRecipes').on('keyup', function(){

        var searchInput = document.getElementById("searchRecipes");
        var filterValue = searchInput.value.toUpperCase();
        var titleParent = document.getElementById("recipeDisplay");
        var title = titleParent.getElementsByTagName("h3");
        
        for (var i = 0 ; i < title.length ; i++){
            var a = title[i].getElementsByTagName("a")[0];
            if(a.innerHTML.toUpperCase().indexOf(filterValue) > -1){
                title[i].style.display = "";
                
            }else{
                title[i].style.display = "none";
            }
        }
    
    })

    // function filter(){
    
    //     var filterValue, input, ul,li,a,i;
    //     input = document.getElementById("search");
    //     filterValue = input.value.toUpperCase();
    //     ul = document.getElementById("Menu");
    //     li = ul.getElementsByTagName("li");
    
    //     for (i = 0 ; i < li.length ; i++){
    //         a = li[i].getElementsByTagName("a")[0];
    //         if(a.innerHTML.toUpperCase().indexOf(filterValue) > -1){
    //             li[i].style.display = "";
                
    //         }else{
    //             li[i].style.display = "none";
    //         }
    //     }
    // }
</script>