<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Bracha Pachtman">
    <meta name="description" content="Recipe Manager Platform">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML, CSS, JavaScript, Node.js, Food, Recipes, Organization">
    <link rel="stylesheet" href="../headerFooter.css">
    <link rel="stylesheet" href="../modalStyles.css">
    <link rel="stylesheet" href="../generalStyles.css">
    <link rel="stylesheet" href="../recipesDisplay.css">
    <link rel="stylesheet" href="../viewOneRec.css">
    <link rel="stylesheet" href="../addEditRec.css">
    <link rel="stylesheet" href="../mediaQueries.css">
    <title>Recipize | <%= recipe.title %></title>
</head>
<body>
<div class="pageBody viewRecPageBody">
    <%- include('header.html')%>
            <div class="recipeBook">
                    <div class="topSection">
                        <div class="settings">
                            <img src="../resources/images/settings.png" alt="">
                        
                            <div class="iconWrapperSingleRec">
                                    <button type="button" id="delRec" title="Delete" class="dltRecCnfrmSngleRec "><img src="../resources/images/deleteBigger.png"></button>                               
                                    <button>
                                        <a href="/edit/<%= recipe._id%>"><img src="../resources/images/pencil.png" class="editIcon" title="Edit"></a>
                                    </button>
                            </div>
                        </div>
                        <div class="title">
                            <h2><%= recipe.title %></h2>
                            <hr>
                            <div class="author">By: <%= recipe.author %></div>
                        </div>

                        <div class="timings">
                            <div class="timingSpecific">
                                <div>
                                    <img src="../resources/images/time.png" alt="">
                                    <h4>Prep Time</h4>
                                    <p>
                                        <span class="prpTimeHrs"><%= recipe.prpTimeHrs %></span>
                                        <span class="prpTmeHrsSpan">Hours</span>
                                        <span class="prpTimeMin"><%= recipe.prpTimeMin %></span>
                                        <span class="prpTmeMinSpan">Min</span> 
                                    </p>
                                    
                                </div>
                                <div>
                                    <img src="../resources/images/time.png" alt="">
                                    <h4>Cook Time</h4>                      
                                    <p>
                                        <span class="ckTimeHrs"><%= recipe.ckTimeHrs %></span>
                                        <span class="ckTmeHrsSpan">Hours</span>
                                        <span class="ckTimeMin"><%= recipe.ckTimeMin %></span>
                                        <span class="ckTmeMinSpan">Min</span>
                                    </p>
                                    
                                </div>
                                <div>
                                    <img src="../resources/images/time.png" alt="">
                                    <h4>Total Time</h4>                                       
                                    <p>
                                        <span class="ttlTimeHrs"><%= recipe.ttlTimeHrs %></span>
                                        <span class="ttlTmeHrsSpan">Hours</span>
                                        <span class="ttlTimeMin"><%= recipe.ttlTimeMin %></span>
                                        <span class="ttlTmeMinSpan">Min</span>
                                    </p>
                                    
                                </div>
                                <div>
                                    <img src="../resources/images/cutlery.png" alt="">
                                    <h4>Yields</h4>                                  
                                    <p>
                                        <span class="yieldInput"><%= recipe.yieldInput %></span>
                                        <span class="yieldSelectViewRec"><%= recipe.yieldSelect %></span>
                                    </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="bottomSection">
                        <div class="leftSide">

                            <div class="recipeImage">
                                <% if(recipe.img == ''){ %>
                                    <img class="recImg" src="../resources/images/platesOfFood/34.jpg">
                                <% }else{ %>
                                    <img class="recImg" src="<%= recipe.img %>">
                                <% } %>
                            </div>

                            <div class="overlay">
                                <div class="recImgModal">
                                    <% if(recipe.img == ''){ %>
                                        <img class="recImg" src="../resources/images/platesOfFood/34.jpg">
                                    <% }else{ %>
                                        <img class="recImg" src="<%= recipe.img %>">
                                    <% } %>
                                </div>
                            </div>


                            <div class="leftSideTxt">
                                <h3>You will need the following:</h3>
                                <ul>
                                    <% recipe.ingrdnts.forEach(function(item){ %>
                                        <li><%= item %></li>
                                    <% }); %>  
                                </ul> 
                            </div>
                        
                        </div>
                        <div class="rightSide">
                            <div>
                                <h3>Directions:</h3>
                                <ol>
                                    <% recipe.dirctns.forEach(function(Direction){ %>
                                            <li><%= Direction %></li>
                                    <% }); %>
                                </ol>
                            </div>
                        </div>
                    </div>
                        <!--
                            bullet point
                            bigger fone
                             -->
                        <!-- <div class="recipeTips">
                            <h3>Tips for this recipe</h3>
                            <ul>
                                <% recipe.tips.forEach(function(tip){ %>
                                    <li><%= tip %></li>
                                <% }); %>
                            </ul>
                            <a href="javascript();;">Read more</a>
                        </div> -->

                        <div class="dltRecWrrpModal">
                            <div class="modalDel">
                                <div class="dltRecModalMainCntnt">

                                    <div class="confirmDeleteCard">
                                        <div class="confirmDeleteCardTxt">
                                            <h1>&#33;</h1>
                                            <h4>Are you sure you want to permanently delete "<%= recipe.title %>" recipe?</h4>
                                        </div>
                                        
                                        <div class="confirmBttns">
                                            <button type="submit" class="cancelDeleteBttn"><a href="/recipe/<%= recipe._id%>">Cancel</a></button> 
                                            <form action="/recipe/<%= recipe._id %>?_method=DELETE" method="POST">
                                                <button type="submit" class="deleterecipe">Delete</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


        </div>
    <%- include('footer.html')%>  
</div>
   

       

</body>
</html>
<script src="https://code.jquery.com/jquery-3.5.1.min.js""></script>
<script src="../script.js"></script>