/*Header*/
nav{
    display: flex;
}
.sticky{
    background-color: #eecccc;
    background-color: var(--mainColor);
    transition: all .2s ease-in-out;
}
.stickyLinks{
    color: #fff;
}
.nav a.stickyLinks:hover{
    color: rgb(201, 201, 201);
} 
.stickyLogo{
    filter: opacity(70%);
}
.nav{
    align-items: center;
    display: flex;
    height: 4em;
    justify-content: flex-end;
    padding: 3em 10em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.nav li{
    list-style: none;
}
.logoWrapper{
   flex: 1;
}
.logoWrapper img{
    height: 4em;
}
.logoWrapper img:last-child{
    display: none;
}
.navUl,
.navUl .lis{
    display: flex;
    align-items: center;
}
.navUl a{
    font-size: .95em;
    padding: 0 1em;
}
 .navUl a:hover{
    color: var(--secendaryColor);
} 
.userLoggedIn{
    position: relative;
}
.userName{
    align-items: center;
    background-color: #666060;
    border-radius: 50%;
    color: #fff;
    display: flex;
    font-size: .85em;
    font-weight: 700;
    justify-content: center;
    padding: .6em .5em;
    position: relative;
    width: 2.4em;
}
.userOptions{
    position: absolute;
    right: 0;
    top: 2.5em;
    background: #fff;
    padding: .8em;
    width: 8em;
}
.userOptions a{
    padding: 0;
    border: none;
}
.userOptions a:hover{
    color: var(--tertiaryColor);
}
.showGalleryBttn{
    display: none;
}
/*Footer*/
footer{
    align-items: center;
    background-color: var(--tertiaryColor);
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: .9em;
    height: 9em;
    justify-content: space-between;
    line-height: 1.4em;
    padding: 1em;
}
footer p{
    text-align: center;
}
.socialLinkSection img{
    cursor: pointer;
    filter: opacity(85%);
    height: 2em;
    margin: .4em .8em;
    outline: none;
}
.socialLinkSection img:hover{
    filter: opacity(50%);
}
.twtr{
    position: relative;
    top: .2em
}