/* View one-recipe Page*/
.viewRecPageBody{
    padding-top: 10em;
}
.recipeBook{
    align-items: center;
    background: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    margin: 0 auto 10em;
    min-height: 700px;
    padding: 1em;
    width: 70vw;
}
.recipeBook > div:not(.iconWrapperSingleRec){
    width: 90%;
}
.settings{
    align-self: flex-end;
    position: relative;
    right: -3em;
}
.settings > img{
    transition: 0.8s transform;
}
.settings > img:hover{
    cursor: pointer;
    transform: rotate(300deg);
    -webkit-transform: rotate(300deg);
}
.iconWrapperSingleRec{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 3em;
    right: -.4em;
    display: none;
}
.iconWrapperSingleRec button img,
.iconWrapperSingleRec button a img,
.iconWrapperSingleRec img{
    filter: invert(45%);
    height: 1.3em;
    margin: .5em;
}
.iconWrapperSingleRec button{
    background: none;
    padding: 0;
}
.iconWrapperSingleRec button:hover,
.recipeBook button.deleteRecConfirm:hover{
    background-color: #e9e9e9;
}
.topSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.author{
    font-size: .8em;
    text-align: center;
    padding: 1.2em 0;
}
.recipeBook hr{
    background: #d6cccc;
    border: none;
    display: block;
    height: .1em;
    margin: 0 auto;
    width: 61%;    
}
.recipeBook h2,
.recipeBook h3,
.recipeBook h4{
    color: var(--tertiaryColor);
}
.recipeBook h2{
    padding: .5em 0;
    text-align: center;
}
.recipeBook h3{
    font-weight: bold;
    padding: .5em;
}
.recipeBook h4{
    font-size: .8em;
    font-weight: normal;
    padding-top: .2em;
}
.timings{
    width: 70%;
}
.timingSpecific{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1.2em 0;
}
.timingSpecific div{
    text-align: center;
}
.timingSpecific p{
    font-size: 1em;
    font-weight: bold;
    color: var(--tertiaryColor);
    text-align: center;
}
.timingSpecific img{
    height: 1em;
}
.bottomSection{
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
    margin: 1em 0;
    padding: 1em;
    min-height: 25em;
}
.leftSide{
    min-height: inherit;
    width: 30%;
}
.leftSideTxt{
    background-color: #e9e9e9;
}
.rightSide{
    margin-left: 2em;
    width: 70%;
}
.recImgModal{
    display: block; 
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin:  auto;
    max-width: 50%;
}
.recImg{
    display: block;
    cursor: pointer;
    height: auto;
    margin: 0 auto 1.5em;
    width: 100%;
}
.recImgBig{
    height: auto;
    margin: 0;
    width: auto;
}
.recipeBook .dltRecWrrpModal{
    font-size: 1.2em;
}
.dltRecWrrpModal{
    height: 1.5em;
}
.recipeBook ol li,
.recipeBook ul li{
    padding: .6em;
}
.recipeBook li{
    font-size: .9em;
    list-style-position: inside;
}
.imageVisble{
    background: rgba(0, 0, 0, 0.45);
    transition: background 1s ease;
}
.recImageVisible{
    display: none;
} 
.close{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #f2456f;
}
.close:hover{
  cursor: pointer;
}
.overlay{
    background: rgba(0,0,0,0.7);
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 5;
}
.close {
    display: block;
}
